extends layout

block content
	h1 Project Detail
	p.lead Welcome #{user.profile.name}, you can check the project Detail here
	hr
	div.container
		table.table.table-striped
			tbody
				tr
					th Title
					th #{thepost.title}
				tr
					th Description
					th #{thepost.description}
				tr
					th Posting Date
					th #{thepost.posting_date.toDateString()}
				tr
					th Posting Owner Email
					th 
						a(href='/postingManager/user_detail?email=#{thepost.owner_email}') #{thepost.owner_email}
				tr
					th Developers Email
					th 
						each val in thepost.developer_email
							a(href='/postingManager/user_detail?email=#{val}') #{val}
							br 
				tr
					th Status
					th #{thepost.status}
				tr
					th Rating
					th #{thepost.rating}
						if (user.usertype == 2 && !(thepost.developer_email.slice().indexOf(user.email) == -1)) 
							if (thepost.has_voted.indexOf(user.email) == -1)
								form.inline-block(style="margin-top:10px;" class='posting-op', action='/postingManager/vote', method='POST')
									input(type='hidden', name='id', class='form-control', value = thepost._id)
									button.btn.btn-primary(type='submit', name='vote', value=1) 
										i.fa.fa-thumbs-down
										| Up Vote
									button.btn.btn-primary(style="margin-left:5px;" type='submit', name='vote', value=2) 
										i.fa.fa-thumbs-down
										| Down Vote
							else
								h4 You have voted this Project Posting
		hr
		h3(style="margin-top:20px;") Discussion Board
	
		each val1 in thepost.comments
			.col-xs-12
				a(href='/postingManager/user_detail?email=#{val1.commenter_email}') #{val1.commenter_email} 
				comment (#{val1.comment_date.toDateString()}):
				p(style="padding-left:20px;") - #{val1.content}
				hr
		form.row.col-sm-12.form-group(class='posting-op', action='/postingManager/comment', method='POST')
			input(type='hidden', name='id', class='form-control', value = thepost._id)
			textarea.form-control(type='text', name='commentMessage', class='form-control', placeholder='Please leave your messaeg',required)
			br
			button.btn.btn-primary.apply(type='submit') 
				i.fa.fa-pencil
				| Comment
		h3 Post Operations
		br
		table
			tbody
				tr
					if (user.usertype -= 1 && (!(thepost.developer_email.indexOf(user.email) == -1)))
						th
							form.inline-block(class='posting-op', action='/postingManager/joinpost', method='GET')
								input(type='hidden', name='id', class='form-control', value = thepost._id)
								if (user.projects.indexOf(thepost._id) == -1)
									button.btn.btn-primary(style="margin-left:40px" type='submit') 
										i.fa.fa-plus
										| Join
								else
									button.btn.btn-primary(style="margin-left:40px" type='submit' disabled) 
										i.fa.fa-plus-circle
										| Post Added
					if (user.usertype != 1 && (!(thepost.developer_email.indexOf(user.email) == -1)))
						th
							form.inline-block(class='posting-op', action='/postingManager/unjoin', method='GET')
								input(type='hidden', name='id', class='form-control', value = thepost._id)
								button.btn.btn-warning( style="margin-left:40px" type='submit') 
									i.fa.fa-minus-circle
									| Quit Project
					if ((user.usertype == 1 && (thepost.owner_email == user.email)) || (user.usertype == 3))
						th
							form.inline-block(class='posting-op', action='/postingManager/deletepost', method='GET')
								input(type='hidden', name='id', class='form-control', value = thepost._id)
								button.btn.btn-danger(style="margin-left:40px" type='submit') 
									i.fa.fa-close
									| Delete Project
					if ((user.usertype == 1 && (thepost.owner_email == user.email)) || user.usertype == 3)
						th
							form.inline-block(class='posting-op', action='/postingManager/recommend', method='GET')
								input(type='hidden', name='id', class='form-control', value = thepost._id)
								button.btn.btn-primary(style="margin-left:40px" type='submit')
									i.fa.fa-search-plus
									| Recommend Developer
		br
		if (recommend != undefined)
			h3 Suggested Developer
			table.table.table-striped
				tbody
				if (recommend.bestUser != undefined)
					tr
						th Developer email
						th 
							a(href='/postingManager/user_detail?email=#{recommend.bestUser.email}') #{recommend.bestUser.email}
					tr
						th Developer name
						th #{recommend.bestUser.profile.name || "Unamed"}
					tr
						th Developer Matching Score
						th #{recommend.bestScore}
				else
					tr
						th Sorry
						th No Developer found
				